body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-links {
    display: flex;
    justify-content: center;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px;
    margin: 8px;
}

.right-links {
    display: flex;
    justify-content: center;
}

.top-content {
    display: flex;
    justify-content: center;
}

.top-right-img {
    margin: 32px;
    margin-right: 64px;
    margin-bottom: 48px;
}

.header-text, .top-text {
    font-size: 18px;
    color: #E5E7EB;

}

.top-text {
    font-weight: normal;
}

.top-left-content {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 400px;
    flex-wrap: wrap;
    padding: 24px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-content {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.middle-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 15px;
    margin: 15px;
}

.box-container {
    display: flex;
    gap: 50px;
}

.box-small-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 160px;
    text-align: center;
}

.box {
    width: 130px;
    height: 130px;
    border: 2px solid #3882F6;
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
}

.bottom-content-background {
    background-color: #E5E7EB;
    padding: 120px;
    display: flex;
    justify-content: center;

}

.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-credit {
    font-weight: 900;
    font-size: 18px;
    text-align: right;
    padding: 16px;
}

.call-to-action {
    background-color: #3882F6;
    margin: 120px;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex: 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.call-child-header {
    font-weight: 900;
    font-size: 24px;
    color: #E5E7EB;
}

.call-child-text {
    font-size: 16px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    padding: 8px;
    margin: 8px;
}

.button1 {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: 900;
    border-radius: 12px;
    width: 96px;
    height: 32px;
    border: none;
    margin-top: 8px;
    flex: none;
}

.button2 {
    color:#F9FAF8;
    background-color: #3882F6;
    font-weight: 900;
    border-radius: 8px;
    font-size: 16px;
    width: 112px;
    height: 40px;
    border: 1px solid #F9FAF8;
    flex: none;
}
